# Taskfile cache
.task/

# Don't push secrets to github
.env

# Quarto ignore
/.quarto/
# https://quarto.org/docs/projects/code-execution.html#using-freeze
#  Don't ignore -- Then code cells aren't re-run in deployment...
# _freeze/
_site/

.python-version

