project:
  type: website

website:
  title: "Dotfiles Guide"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - guides-index.qmd

format:
  # revealjs:
  #   theme: black
  #   # theme: darkly
  #   navigation-mode: vertical
  #   controls-layout: bottom-right
  #   controls-tutorial: true
  #   mermaid:
  #     theme: dark
  # pdf:
  #   code-block-theme: github
  html:
    theme: [brand, themes/theme-dark.scss]

    # Default to me as author on anything in here.
    author: "Tim Child"
    # theme:
    #   light: [flatly, brand]
    #   dark: [darkly, brand]
    css: styles.css
    toc: true
    # code-block-theme: github
    mermaid:
      theme: dark
